data/dataset/raw/*
data/dataset/json/*
data/dataset/subsets/*
*.zip
*__pycache__*
*.dataset_cache*
*.Rhistory
*.RData
*.log
*.wav
*.mp4
train/models/*
shiny/test/*
generate/audio/*
generate/charts/*
