header {
	font-family: Calibri;
	font-size: 20pt;
}


body {
	font-family: Calibri;
	font-size: 12pt;
	text-align: left;
}

footer {
  font-family: Calibri;
  font-size: 10pt;
  position: fixed;
  bottom: 0;
  width: 100%;
  color: azure;
  background-color: slategrey;
  text-align: center;
  padding-top: 2px;
}