h3 {
	font-family: Calibri;
	text-decoration: underline;
	font-size: 18pt;
	display: inline-block;
}

button {
  display: inline-block;
}

img {
  float:left
}


body {
	font-family: Calibri;
	font-size: 12pt;
	text-align: left;
}

footer {
  font-family: Calibri;
  font-size: 10pt;
  position: fixed;
  bottom: 0;
  width: 100%;
  color: azure;
  background-color: slategrey;
  text-align: center;
}